/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6f1b6f;
  --ifm-color-primary-dark: #641864;
  --ifm-color-primary-darker: #5e175e;
  --ifm-color-primary-darkest: #4e134e;
  --ifm-color-primary-light: #7a1e7a;
  --ifm-color-primary-lighter: #801f80;
  --ifm-color-primary-lightest: #902390;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #cbdbfd;
  --ifm-color-primary-dark: #9fbdfb;
  --ifm-color-primary-darker: #89adfa;
  --ifm-color-primary-darkest: #4780f8;
  --ifm-color-primary-light: #f7f9ff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #1c1c1c;
}
